@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-1"></i> @User.Identity.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="dropdown-item">
                    <button type="submit" class="btn btn-link text-dark p-0">
                        <i class="bi bi-box-arrow-right me-1"></i> Đăng xuất
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item me-2">
        <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-box-arrow-in-right me-1"></i> Đăng nhập
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-box-arrow-in-right me-1"></i> Đăng ký
        </a>
    </li>
}
